@using Apollon.Mud.Client.Data.Models.Dungeon
@using Apollon.Mud.Shared.Dungeon.Room
@using Apollon.Mud.Shared.Dungeon.Inspectable
@using Apollon.Mud.Shared.Dungeon.Inspectable.Takeable
@using Apollon.Mud.Shared.Dungeon.Inspectable.Takeable.Consumable
@using Apollon.Mud.Shared.Dungeon.Inspectable.Takeable.Usable
@using Apollon.Mud.Shared.Dungeon.Inspectable.Takeable.Wearable
@using Apollon.Mud.Shared.Dungeon
@using Apollon.Mud.Shared.Dungeon.Requestable
@using Apollon.Mud.Shared.Dungeon.Npc

@inject Apollon.Mud.Client.Services.Interfaces.IRoomService RoomService
@inject Apollon.Mud.Client.Services.Interfaces.INpcService NpcService
@inject Apollon.Mud.Client.Services.Interfaces.ISpecialActionService ActionService
@inject Apollon.Mud.Client.Services.Interfaces.IInspectableService InspectableService
@inject Apollon.Mud.Client.Services.Interfaces.ITakeableService TakeableService
@inject Apollon.Mud.Client.Services.Interfaces.IConsumableService ConsumableService
@inject Apollon.Mud.Client.Services.Interfaces.IWearableService WearableService
@inject Apollon.Mud.Client.Services.Interfaces.IUsableService UsableService
@inject Apollon.Mud.Client.Services.Interfaces.IDungeonService DungeonService

<div class="card">
    <div class="card-header">
        <h2>Räume</h2>
    </div>
    <div class="card-body">

        <EditForm EditContext="@roomContext" OnSubmit="@HandleRoomSubmit" novalidate>
            <DataAnnotationsValidator />

            <div class="form-group">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Raumauswahl</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <select class="form-select" aria-label="Default select example" @bind="chosenRoom" @onselect="@RoomSelectionChanged()" @onselect:stopPropagation="true">
                                <option value="NoRoom" selected hidden>Neuer Raum</option>
                                @if (!(dungeonRooms is null))
                                {
                                    @foreach (RoomDto dungeonRoom in dungeonRooms)
                                    {
                                        <option value="@dungeonRoom.Name">@dungeonRoom.Name</option>
                                    }
                                }
                            </select>
                            <button class="btn btn-outline-primary ms-3" style="width:3rem; font-size:20px" type="button" @onclick="NewRoomButtonClicked">
                                <TooltipComponent Text="Neuen Raum erstellen">
                                    <strong>+</strong>
                                </TooltipComponent>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider" />

            <div class="form-group mt-2">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Name</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <InputText class="form-control" placeholder="Name" id="Name" @bind-Value="dungeonRoomModel.Name" @onfocusout="NameFieldLostFocus" />
                        </div>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonRoomModel.Name) />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt-5">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Beschreibung</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <InputTextArea class="form-control" placeholder="Beschreibung" @bind-Value="dungeonRoomModel.Description" />
                        </div>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonRoomModel.Description) />
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider" />

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <h4 class="mt-1">Item-Auswahl</h4>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4"><h5>Item-Kategorie</h5></div>
                <div class="col"><h5>Item-Name</h5></div>
                <div class="col"></div>
            </div>

            <div class="row">
                <div class="col-4">
                    <select class="form-select" @bind="chosenType">
                        <option value="" selected disabled hidden>Kategorie</option>
                        <option value="Inspectable">Untersuchbar</option>
                        <option value="Takeable">Aufnehmbar</option>
                        <option value="Consumable">Konsumierbar</option>
                        <option value="Usable">Verwendbar</option>
                        <option value="Wearable">Tragbar</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-select" @bind="chosenItem">
                        <option value="NoItem" selected hidden></option>
                        @if (chosenType.Equals("Inspectable"))
                        {
                            @foreach (InspectableDto inspectable in dungeonInspectables)
                            {
                                @if (dungeonRoomModel.Inspectables.Find(i => i.Id == inspectable.Id) is null)
                                {
                                    <option value="@inspectable.Name">@inspectable.Name</option>
                                }
                            }
                        }
                        @if (chosenType.Equals("Takeable"))
                        {
                            @foreach (TakeableDto takeable in dungeonTakeables)
                            {
                                @if (dungeonRoomModel.Takeables.Find(i => i.Id == takeable.Id) is null)
                                {
                                    <option value="@takeable.Name">@takeable.Name</option>
                                }
                            }
                        }
                        @if (chosenType.Equals("Consumable"))
                        {
                            @foreach (ConsumableDto consumable in dungeonConsumables)
                            {
                                @if (dungeonRoomModel.Consumables.Find(i => i.Id == consumable.Id) is null)
                                {
                                    <option value="@consumable.Name">@consumable.Name</option>
                                }
                            }
                        }
                        @if (chosenType.Equals("Usable"))
                        {
                            @foreach (UsableDto usable in dungeonUsables)
                            {
                                @if (dungeonRoomModel.Usables.Find(i => i.Id == usable.Id) is null)
                                {
                                    <option value="@usable.Name">@usable.Name</option>
                                }
                            }
                        }
                        @if (chosenType.Equals("Wearable"))
                        {
                            @foreach (WearableDto wearable in dungeonWearables)
                            {
                                @if (dungeonRoomModel.Wearables.Find(i => i.Id == wearable.Id) is null)
                                {
                                    <option value="@wearable.Name">@wearable.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-md-auto">
                    @if (roomItemCount < 8 && chosenItem != "NoItem")
                    {
                        <button class="btn btn-outline-secondary float-end" type="button" @onclick="AddItemButtonClicked">Item hinzufügen</button>
                    }
                    else
                    {
                        if (roomItemCount == 8)
                        {
                            <TooltipComponent Text="Maximum erreicht">
                                <button class="btn btn-outline-secondary float-end" type="button" disabled>Item hinzufügen</button>
                            </TooltipComponent>
                        }
                        else
                        {
                            <TooltipComponent Text="Wähle ein Item aus">
                                <button class="btn btn-outline-secondary float-end" type="button" disabled>Item hinzufügen</button>
                            </TooltipComponent>
                        }
                    }
                </div>
            </div>
            <div class="table table-bordered mt-3">
                @{int itemIndex = 1;}
                @if (!(dungeonRoomModel.Inspectables is null))
                {
                    @foreach (InspectableDto inspectable in dungeonRoomModel.Inspectables)
                    {
                        <div class="card p-0">
                            <div class="row">
                                <div class="col-4">
                                    <div style="vertical-align:middle; text-align:center">
                                        <span><strong>Item @itemIndex</strong> (Untersuchbar)</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="vertical-align:middle">
                                        <span>@inspectable.Name</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-outline-secondary " style="width:1.75rem; height:1.75rem; padding: 0" type="button" @onclick="(() => RemoveInspectableButtonClicked(inspectable))">
                                        <TooltipComponent Text="Item entfernen">
                                            <span style="vertical-align:middle"><strong>-</strong></span>
                                        </TooltipComponent>
                                    </button>
                                </div>
                            </div>
                        </div>
                        itemIndex++;
                    }
                }
                @if (!(dungeonRoomModel.Takeables is null))
                {
                    @foreach (TakeableDto takeable in dungeonRoomModel.Takeables)
                    {
                        <div class="card p-0">
                            <div class="row">
                                <div class="col-4">
                                    <div style="vertical-align:middle; text-align:center">
                                        <span><strong>Item @itemIndex</strong> (Aufnehmbar)</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="vertical-align:middle">
                                        <span>@takeable.Name</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-outline-secondary " style="width:1.75rem; height:1.75rem; padding: 0" type="button" @onclick="(() => RemoveTakeableButtonClicked(takeable))">
                                        <TooltipComponent Text="Item entfernen">
                                            <span style="vertical-align:middle"><strong>-</strong></span>
                                        </TooltipComponent>
                                    </button>
                                </div>
                            </div>
                        </div>
                        itemIndex++;
                    }
                }
                @if (!(dungeonRoomModel.Consumables is null))
                {
                    @foreach (ConsumableDto consumable in dungeonRoomModel.Consumables)
                    {
                        <div class="card p-0">
                            <div class="row">
                                <div class="col-4">
                                    <div style="vertical-align:middle; text-align:center">
                                        <span><strong>Item @itemIndex</strong> (Konsumierbar)</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="vertical-align:middle">
                                        <span>@consumable.Name</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-outline-secondary " style="width:1.75rem; height:1.75rem; padding: 0" type="button" @onclick="(() => RemoveConsumableButtonClicked(consumable))">
                                        <TooltipComponent Text="Item entfernen">
                                            <span style="vertical-align:middle"><strong>-</strong></span>
                                        </TooltipComponent>
                                    </button>
                                </div>
                            </div>
                        </div>
                        itemIndex++;
                    }
                }
                @if (!(dungeonRoomModel.Usables is null))
                {
                    @foreach (UsableDto usable in dungeonRoomModel.Usables)
                    {
                        <div class="card p-0">
                            <div class="row">
                                <div class="col-4">
                                    <div style="vertical-align:middle; text-align:center">
                                        <span><strong>Item @itemIndex</strong> (Verwendbar)</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="vertical-align:middle">
                                        <span>@usable.Name</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-outline-secondary " style="width:1.75rem; height:1.75rem; padding: 0" type="button" @onclick="(() => RemoveUsableButtonClicked(usable))">
                                        <TooltipComponent Text="Item entfernen">
                                            <span style="vertical-align:middle"><strong>-</strong></span>
                                        </TooltipComponent>
                                    </button>
                                </div>
                            </div>
                        </div>
                        itemIndex++;
                    }
                }
                @if (!(dungeonRoomModel.Wearables is null))
                {
                    @foreach (WearableDto wearable in dungeonRoomModel.Wearables)
                    {
                        <div class="card p-0">
                            <div class="row">
                                <div class="col-4">
                                    <div style="vertical-align:middle; text-align:center">
                                        <span><strong>Item @itemIndex</strong> (Tragbar)</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div style="vertical-align:middle">
                                        <span>@wearable.Name</span>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <button class="btn btn-outline-secondary " style="width:1.75rem; height:1.75rem; padding: 0" type="button" @onclick="(() => RemoveWearableButtonClicked(wearable))">
                                        <TooltipComponent Text="Item entfernen">
                                            <span style="vertical-align:middle"><strong>-</strong></span>
                                        </TooltipComponent>
                                    </button>
                                </div>
                            </div>
                        </div>
                        itemIndex++;
                    }
                }
            </div>

            <hr class="featurette-divider mt-3" />

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <h4 class="mt-1">Nachbarräume</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <h5 class="mt-1">Norden</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <select class="form-select" @bind="dungeonRoomModel.RoomNorth">
                            @if (!(dungeonRooms is null))
                            {
                                <option value="NoRoom" selected>Kein Nachbar</option>
                                @foreach (RoomDto dungeonRoom in dungeonRooms)
                                {

                                    @if (!dungeonRoom.Name.Equals(chosenRoom) &&
                                    !dungeonRoom.Name.Equals(dungeonRoomModel.RoomEast) &&
                                    !dungeonRoom.Name.Equals(dungeonRoomModel.RoomWest) &&
                                    !dungeonRoom.Name.Equals(dungeonRoomModel.RoomSouth) &&
                                     (dungeonRoom.NeighborSouthId == Guid.Empty ||
                                     dungeonRoom.NeighborSouthId == (dungeonRooms.Find(x => x.Name == chosenRoom)?.Id ?? Guid.Empty)))
                                    {
                                        <option value="@dungeonRoom.Name">@dungeonRoom.Name</option>
                                    }
                                }
                            }
                        </select>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonRoomModel.RoomNorth) />
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="mt-1">Westen</h5>
                    <div class="d-flex justify-content-center">
                        <select class="form-select" @bind="dungeonRoomModel.RoomWest">
                            @if (!(dungeonRooms is null))
                            {
                                <option value="NoRoom" selected>Kein Nachbar</option>
                                @foreach (RoomDto dungeonRoom in dungeonRooms)
                                {
                                    @if (!dungeonRoom.Name.Equals(chosenRoom) &&
                                 !dungeonRoom.Name.Equals(dungeonRoomModel.RoomEast) &&
                                 !dungeonRoom.Name.Equals(dungeonRoomModel.RoomNorth) &&
                                 !dungeonRoom.Name.Equals(dungeonRoomModel.RoomSouth) &&
                                 (dungeonRoom.NeighborEastId == Guid.Empty ||
                                 dungeonRoom.NeighborEastId == (dungeonRooms.Find(x => x.Name == chosenRoom)?.Id ?? Guid.Empty)))
                                    {
                                        <option value="@dungeonRoom.Name">@dungeonRoom.Name</option>
                                    }
                                }
                            }
                        </select>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonRoomModel.RoomWest) />
                        </div>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col">
                    <div class="d-flex justify-content-end">
                        <h5 class="mt-1">Osten</h5>
                    </div>
                    <div class="d-flex justify-content-end">
                        <select class="form-select" @bind="dungeonRoomModel.RoomEast">
                            @if (!(dungeonRooms is null))
                            {
                                <option value="NoRoom" selected>Kein Nachbar</option>
                                @foreach (RoomDto dungeonRoom in dungeonRooms)
                                {
                                    @if (!dungeonRoom.Name.Equals(chosenRoom) &&
                                 !dungeonRoom.Name.Equals(dungeonRoomModel.RoomNorth) &&
                                 !dungeonRoom.Name.Equals(dungeonRoomModel.RoomWest) &&
                                 !dungeonRoom.Name.Equals(dungeonRoomModel.RoomSouth) &&
                                 (dungeonRoom.NeighborWestId == Guid.Empty ||
                                 dungeonRoom.NeighborWestId == (dungeonRooms.Find(x => x.Name == chosenRoom)?.Id ?? Guid.Empty)))
                                    {
                                        <option value="@dungeonRoom.Name">@dungeonRoom.Name</option>
                                    }
                                }
                            }
                        </select>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonRoomModel.RoomEast) />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col"></div>
                <div class="col">
                    <select class="form-select" @bind="dungeonRoomModel.RoomSouth">
                        @if (!(dungeonRooms is null))
                        {
                            <option value="NoRoom" selected>Kein Nachbar</option>
                            @foreach (RoomDto dungeonRoom in dungeonRooms)
                            {
                                @if (!dungeonRoom.Name.Equals(chosenRoom) &&
                             !dungeonRoom.Name.Equals(dungeonRoomModel.RoomEast) &&
                             !dungeonRoom.Name.Equals(dungeonRoomModel.RoomWest) &&
                             !dungeonRoom.Name.Equals(dungeonRoomModel.RoomNorth) &&
                             (dungeonRoom.NeighborNorthId == Guid.Empty ||
                             dungeonRoom.NeighborNorthId == (dungeonRooms.Find(x => x.Name == chosenRoom)?.Id ?? Guid.Empty)))
                                {
                                    <option value="@dungeonRoom.Name">@dungeonRoom.Name</option>
                                }
                            }
                        }
                    </select>
                    <h5 class="mt-1 text-center">Süden</h5>
                    <div class="text-danger">
                        <ValidationMessage For=@(() => dungeonRoomModel.RoomSouth) />
                    </div>
                </div>
                <div class="col"></div>
            </div>

            <hr class="featurette-divider" />

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <h4 class="mt-1">NPCs</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <select class="form-select" @bind="selectedNpc">
                        <option value="NoNpc" selected hidden></option>
                        @if (!(dungeonNpcs is null))
                        {
                            @foreach (NpcDto npc in dungeonNpcs)
                            {
                                @if (roomNpcs.Find(r => r.Name == npc.Name) is null)
                                {
                                    <option value="@npc.Name">@npc.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col-4">
                    @if (specialActionCount <= dungeonNpcs.Count() && selectedNpc != "NoNpc")
                    {
                        <button class="btn btn-outline-secondary ms-1" style="max-width:15rem" type="button" @onclick="AddNpcButtonClicked">NPC hinzufügen</button>
                    }
                    else
                    {
                        if (selectedNpc == "NoNpc")
                        {
                            <TooltipComponent Text="Wähle einen NPC">
                                <button class="btn btn-outline-secondary ms-1" style="max-width:15rem" type="button" disabled>NPC hinzufügen</button>
                            </TooltipComponent>
                        }
                        else
                        {
                            <TooltipComponent Text="Maximum erreicht">
                                <button class="btn btn-outline-secondary ms-1" style="max-width:15rem" type="button" disabled>NPC hinzufügen</button>
                            </TooltipComponent>
                        }
                    }
                </div>
            </div>

            <div class="table table-bordered mt-3">
                @{int npcIndex = 1;}
                @foreach (NpcDto npc in roomNpcs)
                {
                    <div class="card p-0">
                        <div class="row">
                            <div class="col-4">
                                <div style="vertical-align:middle; text-align:center">
                                    <span><strong>Npc @npcIndex</strong></span>
                                </div>
                            </div>
                            <div class="col">
                                <div style="vertical-align:middle">
                                    <span>@npc.Name</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-outline-secondary " style="width:1.75rem; height:1.75rem; padding: 0" type="button" @onclick="(() => RemoveNpcButtonClicked(npc))">
                                    <TooltipComponent Text="Npc entfernen">
                                        <span style="vertical-align:middle"><strong>-</strong></span>
                                    </TooltipComponent>
                                </button>
                            </div>
                        </div>
                    </div>
                    npcIndex++;
                }
            </div>

            <hr class="featurette-divider" />

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <TooltipComponent Text="Füge deine Befehle einem Raum hinzu"><h4 class="mt-1">Eigene Befehle</h4></TooltipComponent>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <select class="form-select" @bind="selectedRequestable">
                        <option value="NoAction" selected hidden></option>
                        @if (!(dungeonRequestables is null))
                        {
                            @foreach (RequestableDto requestable in dungeonRequestables)
                            {
                                @if (roomRequestables.Find(r => r.PatternForPlayer == requestable.PatternForPlayer) is null)
                                {
                                    <option value="@requestable.PatternForPlayer">@requestable.PatternForPlayer</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="col">
                    @if (specialActionCount <= dungeonRequestables.Count() && selectedRequestable != "NoAction")
                    {
                        <button class="btn btn-outline-secondary ms-1" type="button" @onclick="AddActionButtonClicked">Befehl hinzufügen</button>
                    }
                    else
                    {
                        if (selectedRequestable == "NoAction")
                        {
                            <TooltipComponent Text="Wähle einen Befehl">
                                <button class="btn btn-outline-secondary ms-1" type="button" disabled>Befehl hinzufügen</button>
                            </TooltipComponent>
                        }
                        else
                        {
                            <TooltipComponent Text="Maximum erreicht">
                                <button class="btn btn-outline-secondary ms-1" type="button" disabled>Befehl hinzufügen</button>
                            </TooltipComponent>
                        }
                    }
                </div>
            </div>
            <div class="table table-bordered mt-3">
                @{int requestIndex = 1;}
                @foreach (RequestableDto requestable in roomRequestables)
                {
                    <div class="card p-0">
                        <div class="row">
                            <div class="col-4">
                                <div style="vertical-align:middle; text-align:center">
                                    <span><strong>Befehl @requestIndex</strong></span>
                                </div>
                            </div>
                            <div class="col">
                                <div style="vertical-align:middle">
                                    <span>@requestable.PatternForPlayer</span>
                                </div>
                            </div>
                            <div class="col-1">
                                <button class="btn btn-outline-secondary " style="width:1.75rem; height:1.75rem; padding: 0" type="button" @onclick="(() => RemoveActionButtonClicked(requestable))">
                                    <TooltipComponent Text="Befehl entfernen">
                                        <span style="vertical-align:middle"><strong>-</strong></span>
                                    </TooltipComponent>
                                </button>
                            </div>
                        </div>
                    </div>
                    requestIndex++;
                }
            </div>
            <hr class="featurette-divider" />

            <div class="form-group mt-3">
                <div class="row">
                    <div class="col-3">
                        <h5 class="mt-1">Status</h5>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            @if (isDefaultRoom)
                            {
                                <select class="form-select" @bind="dungeonRoomModel.Status">
                                    <option selected value="Approved">Aktiv</option>
                                    <option value="Pending" disabled>Inaktiv</option>
                                </select>
                                <TooltipComponent Text="Du kannst den Startraum nicht auf inaktiv stellen oder löschen">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="red" class="bi bi-exclamation-circle ms-1 mt-1" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                    </svg>
                                </TooltipComponent>
                            }
                            else
                            {
                                <select class="form-select" @bind="dungeonRoomModel.Status">
                                    <option selected value="Approved">Aktiv</option>
                                    <option value="Pending">Inaktiv</option>
                                </select>
                            }

                        </div>
                        <div class="text-danger">
                            <ValidationMessage For=@(() => dungeonRoomModel.Status) />
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divder" />

            <div class="row">
                <div class="col-3">

                </div>
                <div class="col">
                    <button class="btn btn-success" style="width:20rem" type="submit">Speichern</button>
                </div>
                @if (isDefaultRoom)
                {
                    <div class="col">
                        @if (!(chosenRoom == "NoRoom") && !IsDungeonMasterConfigurating)
                        {
                            <button class="btn btn-danger float-end" type="button" @onclick="RemoveRoomButtonClicked">Entfernen</button>
                        }
                    </div>
                }

            </div>

        </EditForm>

    </div>
</div>

@code {

    #region Dungeon Information

    /// <summary>
    /// En/Disables remove buttons
    /// </summary>
    [Parameter]
    public bool IsDungeonMasterConfigurating { get; set; }

    /// <summary>
    /// The unique dungeon identifier
    /// </summary>
    [Parameter]
    public Guid DungeonId { get; set; }

    ///<summary>
    /// Event called when rooms were changed
    ///</summary>
    [Parameter]
    public EventCallback OnRoomSavedOrLoaded { get; set; }

    ///<summary>
    /// Event fired when a dungeons first room is created as to make it its default room
    ///</summary>
    [Parameter]
    public EventCallback<Guid> FirstRoomSavedOrLoaded { get; set; }

    /// <summary>
    /// The Dungeon that is being edited
    /// </summary>
    public DungeonDto Dungeon { get; set; }

    #endregion

    #region Dungeon Room Model

    /// <summary>
    /// The model to validate when creating a room
    /// </summary>
    DungeonRoomModel dungeonRoomModel = new DungeonRoomModel();

    /// <summary>
    /// The EditContext of the Blazor Form
    /// </summary>
    EditContext roomContext;

    /// <summary>
    /// The List of Rooms in the dungeon
    /// </summary>
    List<RoomDto> dungeonRooms = new List<RoomDto>();

    #endregion

    #region Bound Variables

    /// <summary>
    /// Initializes the item category
    /// </summary>
    string chosenType = "NoType";

    /// <summary>
    /// Initializes the item in the room
    /// </summary>
    string[] roomItems = new string[8];

    /// <summary>
    /// The room selected by default is the "NoRoom".
    /// </summary>
    string chosenRoom = "NoRoom";

    /// <summary>
    /// The item selected by default is "NoItem".
    /// </summary>
    string chosenItem = "NoItem";

    /// <summary>
    /// The requestables added to the room
    /// </summary>
    List<RequestableDto> roomRequestables = new List<RequestableDto>();

    /// <summary>
    /// The context of the room is customizable
    /// </summary>
    string selectedRequestable = "NoAction";

    /// <summary>
    /// Lists the data to be managed in the room
    /// </summary>
    List<NpcDto> roomNpcs = new List<NpcDto>();

    /// <summary>
    /// The Name of the NPC selected in the "Add Npc" Dropdown
    /// </summary>
    string selectedNpc = "NoNpc";

    /// <summary>
    /// Checks wether the currently chosen Room is the default Room
    /// </summary>
    bool isDefaultRoom = false;

    #endregion

    #region Item Lists

    /// <summary>
    /// Lists the inspectable items in the room
    /// </summary>
    List<InspectableDto> dungeonInspectables = new List<InspectableDto>();

    /// <summary>
    /// Lists the items that can be picked up in the room
    /// </summary>
    List<TakeableDto> dungeonTakeables = new List<TakeableDto>();

    /// <summary>
    /// Lists the consumable items in the room
    /// </summary>
    List<ConsumableDto> dungeonConsumables = new List<ConsumableDto>();

    /// <summary>
    /// Lists the wearing items in the room
    /// </summary>
    List<WearableDto> dungeonWearables = new List<WearableDto>();

    /// <summary>
    /// Lists the items that can be used in the room
    /// </summary>
    List<UsableDto> dungeonUsables = new List<UsableDto>();

    /// <summary>
    /// The List of Special Actions in the Dungeon
    /// </summary>
    List<RequestableDto> dungeonRequestables = new List<RequestableDto>();

    /// <summary>
    /// The List of NPCs in the Dungeon
    /// </summary>
    List<NpcDto> dungeonNpcs = new List<NpcDto>();

    #endregion

    #region Item Dropdown Counters

    /// <summary>
    /// When an item is kicked out of the inventory,
    /// the number of items in the room changes
    /// </summary>
    int roomItemCount = 0;

    /// <summary>
    /// The amount of special actions added to the room
    /// </summary>
    int specialActionCount = 0;

    #endregion

    /// <summary>
    /// Reads all Room Information of the dungeon from the backend and fills the local lists
    /// </summary>
    protected async override Task OnInitializedAsync()
    {
        dungeonRoomModel.RoomNorth = "NoRoom";
        dungeonRoomModel.RoomSouth = "NoRoom";
        dungeonRoomModel.RoomWest = "NoRoom";
        dungeonRoomModel.RoomEast = "NoRoom";
        roomContext = new EditContext(dungeonRoomModel);
        if (DungeonId != Guid.Empty)
        {
            var rooms = await RoomService.GetAllRooms(DungeonId);

            if (rooms is not null && rooms.Count != 0)
            {
                dungeonRooms = rooms.ToList();
                await OnRoomSavedOrLoaded.InvokeAsync();
            }

            dungeonInspectables = (await InspectableService.GetAllInspectables(DungeonId))?.ToList() ?? new List<InspectableDto>();
            dungeonTakeables = (await TakeableService.GetAllTakeables(DungeonId))?.ToList() ?? new List<TakeableDto>();
            dungeonWearables = (await WearableService.GetAllWearables(DungeonId))?.ToList() ?? new List<WearableDto>();
            dungeonUsables = (await UsableService.GetAllUsables(DungeonId))?.ToList() ?? new List<UsableDto>();
            dungeonConsumables = (await ConsumableService.GetAllConsumables(DungeonId))?.ToList() ?? new List<ConsumableDto>();

            dungeonNpcs = (await NpcService.GetAllNpcs(DungeonId))?.ToList() ?? new List<NpcDto>();

            dungeonRequestables = (await ActionService.GetAllRequestables(DungeonId))?.ToList() ?? new List<RequestableDto>();
        }
        Dungeon = await DungeonService.GetDungeon(DungeonId);
        StateHasChanged();
    }

    /// <summary>
    /// The method manages the save function when specific changes have been made in the room
    /// </summary>
    /// <returns></returns>
    private async Task HandleRoomSubmit()
    {
        var validRoom = roomContext.Validate();
        if (validRoom && DungeonId != Guid.Empty)
        {
            bool newRoom = false;
            RoomDto submitRoom = dungeonRooms.Find(r => r.Name.Equals(dungeonRoomModel.Name));
            if (submitRoom is null)
            {
                submitRoom = new RoomDto();
                newRoom = true;
            }
            submitRoom.Name = dungeonRoomModel.Name;
            submitRoom.Description = dungeonRoomModel.Description;
            submitRoom.Status = dungeonRoomModel.Status.Equals("Approved") ? 0 : 1;
            submitRoom.Inspectables = dungeonRoomModel.Inspectables;
            submitRoom.Takeables = dungeonRoomModel.Takeables;
            submitRoom.Usables = dungeonRoomModel.Usables;
            submitRoom.Consumables = dungeonRoomModel.Consumables;
            submitRoom.Wearables = dungeonRoomModel.Wearables;
            submitRoom.SpecialActions = roomRequestables;
            submitRoom.Npcs = roomNpcs;

            if (!dungeonRoomModel.RoomNorth.Equals("NoRoom"))
            {
                submitRoom.NeighborNorthId = dungeonRooms.Find(r => r.Name.Equals(dungeonRoomModel.RoomNorth)).Id;
            }
            else submitRoom.NeighborNorthId = Guid.Empty;

            if (!dungeonRoomModel.RoomEast.Equals("NoRoom"))
            {
                submitRoom.NeighborEastId = dungeonRooms.Find(r => r.Name.Equals(dungeonRoomModel.RoomEast)).Id;
            }
            else submitRoom.NeighborEastId = Guid.Empty;

            if (!dungeonRoomModel.RoomSouth.Equals("NoRoom"))
            {
                submitRoom.NeighborSouthId = dungeonRooms.Find(r => r.Name.Equals(dungeonRoomModel.RoomSouth)).Id;
            }
            else submitRoom.NeighborSouthId = Guid.Empty;

            if (!dungeonRoomModel.RoomWest.Equals("NoRoom"))
            {
                submitRoom.NeighborWestId = dungeonRooms.Find(r => r.Name.Equals(dungeonRoomModel.RoomWest)).Id;
            }
            else submitRoom.NeighborWestId = Guid.Empty;

            if (newRoom)
            {
                var response = await RoomService.CreateNewRoom(submitRoom, DungeonId);
                if (response != Guid.Empty)
                {
                    submitRoom.Id = response;
                    dungeonRooms.Add(submitRoom);
                    chosenRoom = dungeonRoomModel.Name;
                    if (dungeonRooms.Any(x => x.Status == 0)) await FirstRoomSavedOrLoaded.InvokeAsync(response);
                    await OnRoomSavedOrLoaded.InvokeAsync();
                }
            }
            else
            {
                var response = await RoomService.UpdateRoom(submitRoom, DungeonId);
                if (!response)
                {
                    var oldRoom = await RoomService.GetRoom(submitRoom.Id, DungeonId);
                    if (oldRoom is not null) WriteBackRoom(oldRoom);
                    else await OnRoomSavedOrLoaded.InvokeAsync();
                }
                else await OnRoomSavedOrLoaded.InvokeAsync();
            }
            ReloadNeighbour();
            StateHasChanged();
        }
    }

    /// <summary>
    /// Checks wether the user chose a different room and updates the form accordingly
    /// </summary>
    /// <returns></returns>
    private EventCallback RoomSelectionChanged()
    {
        if (!chosenRoom.Equals(dungeonRoomModel.Name) && !chosenRoom.Equals("NoRoom"))
        {
            var newRoom = dungeonRooms.Find(r => r.Name.Equals(chosenRoom));
            isDefaultRoom = newRoom.Id == Dungeon.DefaultRoom.Id;
            WriteBackRoom(newRoom);
        }
        return EventCallback.Empty;
    }

    /// <summary>
    /// Checks wether the user entered a name that already exists
    /// </summary>
    /// <param name="args"></param>
    private void NameFieldLostFocus(System.EventArgs args)
    {
        var checkRoom = dungeonRooms.Find(r => r.Name.Equals(dungeonRoomModel.Name));
        if (checkRoom is null)
        {
            return;
        }
        else
        {
            chosenRoom = checkRoom.Name;
            WriteBackRoom(checkRoom);
        }
    }

    /// <summary>
    /// Fills out the form with the information of the given RoomDto
    /// </summary>
    /// <param name="newRoom">The Room to fill the form with</param>
    private void WriteBackRoom(RoomDto newRoom)
    {
        if (!(newRoom is null))
        {
            dungeonRoomModel.Name = newRoom.Name;
            dungeonRoomModel.Description = newRoom.Description;

            #region Room Items

            dungeonRoomModel.Inspectables = new List<InspectableDto>();
            dungeonRoomModel.Takeables = new List<TakeableDto>();
            dungeonRoomModel.Consumables = new List<ConsumableDto>();
            dungeonRoomModel.Usables = new List<UsableDto>();
            dungeonRoomModel.Wearables = new List<WearableDto>();

            if (!(newRoom.Inspectables is null))
            {
                newRoom.Inspectables.ToList().ForEach(t =>
                {
                    if (!(t is null))
                    {
                        dungeonRoomModel.Inspectables.Add(t);
                    }
                });
            }
            if (!(newRoom.Takeables is null))
            {
                newRoom.Takeables.ToList().ForEach(t =>
                {
                    if (!(t is null))
                    {
                        dungeonRoomModel.Takeables.Add(t);
                    }
                });
            }
            if (!(newRoom.Consumables is null))
            {
                newRoom.Consumables.ToList().ForEach(t =>
                {
                    if (!(t is null))
                    {
                        dungeonRoomModel.Consumables.Add(t);
                    }
                });
            }
            if (!(newRoom.Usables is null))
            {
                newRoom.Usables.ToList().ForEach(t =>
                {
                    if (!(t is null))
                    {
                        dungeonRoomModel.Usables.Add(t);
                    }
                });
            }
            if (!(newRoom.Wearables is null))
            {
                newRoom.Wearables.ToList().ForEach(t =>
                {
                    if (!(t is null))
                    {
                        dungeonRoomModel.Wearables.Add(t);
                    }
                });
            }

            #endregion

            #region Neighbours

            dungeonRoomModel.RoomNorth = newRoom.NeighborNorthId.Equals(Guid.Empty) ? "NoRoom" : dungeonRooms.Find(r => r.Id.Equals(newRoom.NeighborNorthId)).Name;

            dungeonRoomModel.RoomEast = newRoom.NeighborEastId.Equals(Guid.Empty) ? "NoRoom" : dungeonRooms.Find(r => r.Id.Equals(newRoom.NeighborEastId)).Name;

            dungeonRoomModel.RoomSouth = newRoom.NeighborSouthId.Equals(Guid.Empty) ? "NoRoom" : dungeonRooms.Find(r => r.Id.Equals(newRoom.NeighborSouthId)).Name;

            dungeonRoomModel.RoomWest = newRoom.NeighborWestId.Equals(Guid.Empty) ? "NoRoom" : dungeonRooms.Find(r => r.Id.Equals(newRoom.NeighborWestId)).Name;

            #endregion

            roomRequestables = newRoom.SpecialActions is null ? new List<RequestableDto>() : newRoom.SpecialActions.ToList();

            roomNpcs = newRoom.Npcs is null ? new List<NpcDto>() : newRoom.Npcs.ToList();

            dungeonRoomModel.Status = newRoom.Status == 0 ? "Approved" : "Pending";

            StateHasChanged();
        }
    }

    /// <summary>
    /// Clears all input fields and resets the form to enable the creation of a new item
    /// </summary>
    /// <param name="args"></param>
    private void NewRoomButtonClicked(System.EventArgs args)
    {
        chosenRoom = "NoRoom";
        dungeonRoomModel.Name = string.Empty;
        dungeonRoomModel.Description = string.Empty;
        dungeonRoomModel.RoomNorth = "NoRoom";
        dungeonRoomModel.RoomEast = "NoRoom";
        dungeonRoomModel.RoomWest = "NoRoom";
        dungeonRoomModel.RoomSouth = "NoRoom";
        isDefaultRoom = false;
        dungeonRoomModel.Status = string.Empty;
        dungeonRoomModel.Inspectables.Clear();
        dungeonRoomModel.Takeables.Clear();
        dungeonRoomModel.Consumables.Clear();
        dungeonRoomModel.Usables.Clear();
        dungeonRoomModel.Wearables.Clear();
        roomRequestables.Clear();
        roomNpcs.Clear();
        roomItemCount = 0;
        for (int i = 0; i < 8; i++)
        {
            roomItems[i] = "NoItem";
        }
    }

    /// <summary>
    /// Deletes the opened room
    /// </summary>
    /// <param name="args"></param>
    private async void RemoveRoomButtonClicked(System.EventArgs args)
    {
        var roomToDelete = dungeonRooms.Find(r => r.Name == chosenRoom);

        bool shouldFieldsBeEmptied = true;

        if (!(roomToDelete.Id == Guid.Empty)) shouldFieldsBeEmptied = await RoomService.DeleteRoom(roomToDelete.Id, DungeonId);

        if (shouldFieldsBeEmptied)
        {
            dungeonRooms.Remove(roomToDelete);
            chosenRoom = "NoRoom";
            dungeonRoomModel.Name = string.Empty;
            dungeonRoomModel.Description = string.Empty;
            dungeonRoomModel.RoomNorth = "NoRoom";
            dungeonRoomModel.RoomEast = "NoRoom";
            dungeonRoomModel.RoomWest = "NoRoom";
            dungeonRoomModel.RoomSouth = "NoRoom";
            dungeonRoomModel.Status = string.Empty;
            dungeonRoomModel.Inspectables.Clear();
            dungeonRoomModel.Takeables.Clear();
            dungeonRoomModel.Consumables.Clear();
            dungeonRoomModel.Usables.Clear();
            dungeonRoomModel.Wearables.Clear();
            roomRequestables.Clear();
            roomNpcs.Clear();
            roomItemCount = 0;
            chosenType = "NoType";
            chosenItem = "NoItem";
            await OnRoomSavedOrLoaded.InvokeAsync();
            isDefaultRoom = false;
            StateHasChanged();
        }
    }

    #region Add/Remove Buttons
    /// <summary>
    /// As long as the number of items in the room is less than 8,
    /// it is possible to add one more item to the room.
    /// </summary>
    private void AddItemButtonClicked()
    {
        if (chosenType != "NoType" && chosenItem != "NoItem")
        {
            switch (chosenType)
            {
                case "Inspectable":
                    var newInspectable = dungeonInspectables.Find(i => i.Name.Equals(chosenItem));
                    if (!(newInspectable is null))
                    {
                        dungeonRoomModel.Inspectables.Add(newInspectable);
                    }
                    break;
                case "Takeable":
                    var newTakeable = dungeonTakeables.Find(i => i.Name.Equals(chosenItem));
                    if (!(newTakeable is null))
                    {
                        dungeonRoomModel.Takeables.Add(newTakeable);
                    }
                    break;
                case "Consumable":
                    var newConsumable = dungeonConsumables.Find(i => i.Name.Equals(chosenItem));
                    if (!(newConsumable is null))
                    {
                        dungeonRoomModel.Consumables.Add(newConsumable);
                    }
                    break;
                case "Usable":
                    var newUsable = dungeonUsables.Find(i => i.Name.Equals(chosenItem));
                    if (!(newUsable is null))
                    {
                        dungeonRoomModel.Usables.Add(newUsable);
                    }
                    break;
                case "Wearable":
                    var newWearable = dungeonWearables.Find(i => i.Name.Equals(chosenItem));
                    if (!(newWearable is null))
                    {
                        dungeonRoomModel.Wearables.Add(newWearable);
                    }
                    break;
            }
        }
        chosenItem = "NoItem";
        if (roomItemCount <= 8)
        {
            roomItemCount++;
        }
        StateHasChanged();
    }

    /// <summary>
    /// Deletes the opened Inspectable from the room
    /// </summary>
    /// <param name="item">The Item to remove</param>
    /// <returns></returns>
    private EventCallback RemoveInspectableButtonClicked(InspectableDto item)
    {
        dungeonRoomModel.Inspectables.Remove(item);
        if (roomItemCount >= 1)
            roomItemCount--;
        return EventCallback.Empty;
    }

    /// <summary>
    /// Deletes the opened Takeable from the room
    /// </summary>
    /// <param name="item">The Item to remove</param>
    /// <returns></returns>
    private EventCallback RemoveTakeableButtonClicked(TakeableDto item)
    {
        dungeonRoomModel.Takeables.Remove(item);
        if (roomItemCount >= 1)
            roomItemCount--;
        return EventCallback.Empty;
    }

    /// <summary>
    /// Deletes the open Consumable from the room
    /// </summary>
    /// <param name="item">The Item to remove</param>
    /// <returns></returns>
    private EventCallback RemoveConsumableButtonClicked(ConsumableDto item)
    {
        dungeonRoomModel.Consumables.Remove(item);
        if (roomItemCount >= 1)
            roomItemCount--;
        return EventCallback.Empty;
    }

    /// <summary>
    /// Deletes the open Usable from the room
    /// </summary>
    /// <param name="item">The Item to remove</param>
    /// <returns></returns>
    private EventCallback RemoveUsableButtonClicked(UsableDto item)
    {
        dungeonRoomModel.Usables.Remove(item);
        if (roomItemCount >= 1)
            roomItemCount--;
        return EventCallback.Empty;
    }

    /// <summary>
    /// Deletes the open Wearable from the room
    /// </summary>
    /// <param name="item">The Item to remove</param>
    /// <returns></returns>
    private EventCallback RemoveWearableButtonClicked(WearableDto item)
    {
        dungeonRoomModel.Wearables.Remove(item);
        if (roomItemCount >= 1)
            roomItemCount--;
        return EventCallback.Empty;
    }

    /// <summary>
    /// Adds the selected Special Action to the open room
    /// </summary>
    private void AddActionButtonClicked()
    {
        if (selectedRequestable != "NoAction")
        {
            RequestableDto request = dungeonRequestables.Find(r => r.PatternForPlayer == selectedRequestable);
            if (!(request is null))
            {
                roomRequestables.Add(request);
            }
        }
        selectedRequestable = "NoAction";
    }

    /// <summary>
    /// Removes the given Special Action from the open room
    /// </summary>
    private EventCallback RemoveActionButtonClicked(RequestableDto request)
    {
        roomRequestables.Remove(request);
        return EventCallback.Empty;
    }

    /// <summary>
    /// Removes the given Npc from the open room
    /// </summary>
    /// <param name="npc">The Npc to remove</param>
    /// <returns></returns>
    private EventCallback RemoveNpcButtonClicked(NpcDto npc)
    {
        roomNpcs.Remove(npc);
        return EventCallback.Empty;
    }

    /// <summary>
    /// Adds the selected Npc to the open room
    /// </summary>
    private void AddNpcButtonClicked()
    {
        if (selectedNpc != "NoNpc")
        {
            NpcDto npc = dungeonNpcs.Find(n => n.Name == selectedNpc);
            if (!(npc is null))
            {
                roomNpcs.Add(npc);
            }
        }
        selectedNpc = "NoNpc";
    }

    /// <summary>
    /// Reloads the Npc List from the Database
    /// </summary>
    public async void ReloadNpcs()
    {
        var npcList = await NpcService.GetAllNpcs(DungeonId);
        if (!(npcList is null))
        {
            dungeonNpcs = npcList.ToList();
            StateHasChanged();
        }
    }

    /// <summary>
    /// Reloads the Special Action List from the Database
    /// </summary>
    public async void ReloadSpecialActions()
    {
        var actionList = await ActionService.GetAllRequestables(DungeonId);
        if (!(actionList is null))
        {
            dungeonRequestables = actionList.ToList();
            StateHasChanged();
        }
    }

    /// <summary>
    /// Reloads the Item Lists from the Database
    /// </summary>
    /// <param name="typeName">The Category of Items that need reloading</param>
    public async void ReloadItems(string typeName)
    {
        switch (typeName)
        {
            case "Inspectable":
                var inspectableList = await InspectableService.GetAllInspectables(DungeonId);
                if (inspectableList != null) dungeonInspectables = inspectableList.ToList();
                break;
            case "Takeable":
                var takeableList = await TakeableService.GetAllTakeables(DungeonId);
                if (takeableList != null) dungeonTakeables = takeableList.ToList();
                break;
            case "Usable":
                var usableList = await UsableService.GetAllUsables(DungeonId);
                if (usableList != null) dungeonUsables = usableList.ToList();
                break;
            case "Wearable":
                var wearableList = await WearableService.GetAllWearables(DungeonId);
                if (wearableList != null) dungeonWearables = wearableList.ToList();
                break;
            case "Consumable":
                var consumableList = await ConsumableService.GetAllConsumables(DungeonId);
                if (consumableList != null) dungeonConsumables = consumableList.ToList();
                break;
        }
        StateHasChanged();
    }

    /// <summary>
    /// Reloads the RoomList from the Backend to ensure correct Neighbouring
    /// </summary>
    private async void ReloadNeighbour()
    {
        var updatedRooms = await RoomService.GetAllRooms(DungeonId);
        if (updatedRooms is not null)
        {
            dungeonRooms = updatedRooms.ToList();
        }
    }

    /// <summary>
    /// Reloads the Dungeon from the server
    /// </summary>
    public async void ReloadDungeon()
    {
        Dungeon = await DungeonService.GetDungeon(DungeonId);
        StateHasChanged();
    }

    #endregion
}

